<div class="community-page">
  <div class="community-tabs">
    <a class="community-tab" routerLink="forum" routerLinkActive="active">
      <i class="bi bi-collection-fill"></i>
      Community Decks
    </a>
    <a class="community-tab" routerLink="commanders" routerLinkActive="active">
      <i class="bi bi-shield-fill"></i>
      Commanders
    </a>
    <a class="community-tab" routerLink="players" routerLinkActive="active">
      <i class="bi bi-people-fill"></i>
      Players
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
